{
  "arrowParens": "avoid",
  "bracketSpacing": true,
  "preserve": "always",
  "printWidth": 120,
  "proseWrap": "preserve",
  "semi": true,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "all",
  "useTabs": false,
  "overrides": [
    {
      "files": "package.json",
      "options": {
        "tabWidth": 2,
        "useTabs": false
      }
    }
  ]
}
